
body{
margin-top:10px;
background-color:grey;
}

#page{
}

#logo{
	width: 500px;
	height: 300px;
}

#button {
	padding: 0;
}

#button li {
	display: inline;
}

#button li a {
	font-family: Arial;
	font-size:11px;
	text-decoration: none;
	float:left;
	padding: 10px;
	background-color: #2175bc;
	color: #fff;
}

#button li a:hover {	
	background-color: #2586d7;
	margin-top:-2px;
	padding-bottom:12px;
}
#menu {
	text-align:center; 
	padding: 10px 0px 15px 0px; 
	background-image:url(objetos/degradado2.jpg)
}

#contenido {
	padding: 10px 10px 10px 10px; 
	text-indent: 15px; 
	text-align: justify
	}

#navegacion a {
	color: #CCCCCC; 
	display:block; 
	text-decoration:none; 
	margin: 1px; 
	font-weight:bold}
#navegacion a:link {}
#navegacion a:hover {color: #FFFFFF; background-color:#000000}
#navegacion a:active {color: #99FFFF}
#navegacion a:visited {}

#menu a {color: #CCCCCC; display:block; text-decoration:none; background-color: #1C1C1C; margin: 1px}
#menu a:link {}
#menu a:visited {}
#menu a:hover {color: #FFFFFF; background-color:#000000}
#menu a:active {color: #99FFFF}
ul {margin: 0px; padding: 0px; list-style: none} 
